.describe-page-container {
  height: 800px;
  .describe-page-title {
    padding-top: 4%;
  }
  .describe-small-slicer {
    background: linear-gradient(25deg, rgb(181, 99, 243), rgb(67, 115, 246));
  }
  .description-container {
    margin-top: 3%;
    margin-left: 5.5%;
    left: 0;
    position: relative;
    width: 60%;
    .describe-page-description {
      color: #000;
      opacity: 0.6;
    }
  }
}
