.companies-page-container {
  height: auto;
  #companies-subpage-content-container {
    width: 86%;
  }
  .companies-page-title {
    padding-top: 70px;
  }
  .companies-small-slicer {
    background: linear-gradient(145deg, #c65aff, #248dff);
    margin-top: -25px;
  }

  .companies-container {
    position: relative;
    margin: auto;
    margin-top: 30px;
    .company {
      margin-bottom: 20px;
      .company-img {
        width: 60%;
      }
    }
  }
}

@media (max-width: 1320px) {
  .companies {
    .company {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .companies-page-container {
    .companies-container {
      margin-top: 50px;
      .company-img {
        width: 120px;
      }
    }
  }
}
