.companies-page-container {
  height: auto;
  .companies-small-slicer {
    background: linear-gradient(145deg, #c65aff, #248dff);
  }

  .companies-container {
    position: relative;
    margin: auto;
    margin-top: 100px;
    // margin: 5% 0 0 5%;
    .company {
      .company-img {
        width: 60%;
      }
    }
  }
}

@media (max-width: 1320px) {
  .companies {
    .company {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .companies-page-container {
    .companies-container {
      margin-top: 50px;
      .company-img {
        width: 120px;
      }
    }
  }
}
