#banner-container {
  .overlay {
    margin-top: 70px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(243, 246, 254, 0.6);
  }
  .homepage-title {
    position: absolute;
    top: 30%;
    margin-top: -110px;
    margin-left: 10%;
    // width: 100%;
    z-index: 1;
    .title-text {
      font-size: 6em;
      font-weight: 'bolder';
    }
    .banner-description {
      margin-top: 20px;
      color: rgba(129, 141, 157, 0.85);
    }
    .btn-more {
      border: none;
      outline: none;
      color: #fff;
      padding: 8px 26px;
      font-size: 16px;
      background: linear-gradient(25deg, rgb(181, 99, 243), rgb(67, 115, 246));
      box-shadow: 0px 20px 30px rgba(181, 99, 243, 0.5);
      border-radius: 50px;
      width: 250px;
      height: 70px;
      margin-top: 56px;
    }
    .notification-list {
      padding-top: 200px;
      margin-left: -110px;
    }
  }
  .banner-right-container {
    display: 'flex';
    position: absolute;
    width: 100%;
    .right-holder {
      float: right;
      width: 47%;
      height: auto;
    }
  }
}
