{% extends "layout.html" %}

{% block banner %}
<style>
body{
  background: black;
}
.gradient-line{
  border: none;
}
.banner{
  height: 270px;
  background: none;
}
.about-banner-img{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index: -1;
}
header{
  background: none;
}
.about-wrapper{
  background: #fff;
  padding-bottom: 40px;
}
.button.button-info{
  background: #7463FF;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}
h2{
  margin-bottom: 24px;
}
.body-content.about .about-wrapper.contact .content{
  padding-bottom: 0;
  height: 280px;
  padding-top: 60px;
}
.body-content.about .about-wrapper.contact .content p{
  margin: 0;
}
.cutting-line{
  color: #D8D8D8;
  font-weight: lighter;
}
.body-content.about .about-wrapper.member .content .member-wrapper ul.member-list img{
  border-radius: 50%;
}
.banner .banner-inner{
  padding-top: 94px;
}
</style>
<img src="https://zos.alipayobjects.com/rmsportal/UhMzEupOLpBEqkgzfRln.svg" class="about-banner-img" height="342px"/>
<div class="banner about">
  <div class="banner-inner">
    <h1>关于</h1>
    <p class="intro">我们是蚂蚁金服体验技术部数据图形团队</p>
    <p class="intro">我们是一群有爱的人，在一起快乐做一件有意义的事情<p/>

  </div>
</div>
{% endblock %}

{%- block content %}
<div class="body-content about">
  {{post.html}}
</div>
{%- endblock %}

{% block footer %}
  {%- include "footer.html" %}
{% endblock footer %}
