{% extends "layout.html" %}

{% block title %}{{post.meta.title}} API 文档{% endblock %}

{% block banner %}
<link rel="stylesheet" href="{{static_url('prettify-min.css')}}">
{%- include "script.html" %}
{%- endblock %}

{%- block content %}
<div class="body-content api-body-content">
  {%- include "doc-nav.html" %}
  <div class="doc-content clearfix">
    <h1>{{post.meta.title}}</h1>
    {%- if !post.meta.hidePageNav %}
    <div id="J_pageNav"></div>
    <div class="clearfix" style="margin-bottom: 40px;"></div>
    {%- endif %}
    <div class="doc-inner">
      {{post.html}}
    </div>
  </div>
</div>
<script src="{{static_url('prettify-min.js')}}"></script>
<script src="{{static_url('clipboard.min.js')}}"></script>
<script type="text/javascript">
var CLS_PRETTY = 'prettyprint linenums';
BUI.use('bui/common',function(BUI){
  var preEls = $('pre');
  BUI.each(preEls,function(el){
    var node = $(el), innerText;
    node.addClass(CLS_PRETTY);
    innerText = node.html();
    var a = /^(\s+)/.exec(innerText),
      regex;
    if(a){
      regex = new RegExp('('+a[0]+')(\\s*)','ig');
      innerText = innerText.replace(regex,'$2');
    }

    node.html(innerText);
  });
  if(window.prettyPrint){
    prettyPrint();
  }
});

$(document).ready(function() {
  var docEl = $('.doc-content');
  var hEls = docEl.find('h2, h3');
  var container = $('#J_pageNav');
  var ulContainer;
  var count = 0;
  var hElsLen = hEls.length;
  if (hElsLen > 0 && container.length > 0) {
    for (var i = 0; i < hElsLen; i++) {
      var el = hEls[i];
      var node = $(el);
      var text = node.text();
      var id = node.attr('id');
      var nodeName = el.nodeName;

      if (nodeName === 'H2') {
        count = 0;
        if (ulContainer && ulContainer !== '<ul class="pagenav-columns">') {
          ulContainer += '</ul>';
          $(ulContainer).appendTo(container);
          ulContainer = '<ul class="pagenav-columns">';
          var title = '<div class="clearfix separate"></div><p class="pagenav-title clearfix">' + text + '</p>';
          $(title).appendTo(container);
        } else {
          ulContainer = '<ul class="pagenav-columns">';
          var title = '<p class="pagenav-title clearfix">' + text + '</p>';
          $(title).appendTo(container);
        }
      } else {
        var liItems = '<li><a href="#' + id + '">' + text + '</a></li>';
        ulContainer += liItems;
        count++;
        if (count > 10) {
          ulContainer += '</ul><ul class="pagenav-columns">';
          count = 0;
        }
      }
    }

    ulContainer += '</ul>';
    $(ulContainer).appendTo(container);

    // 代码复制
    $('.highlight').hover(function(e) {
      var target = $(e.target);
      if (target.attr('class') === 'prettyprint linenums') {
        target = target.parent();
      }
      $('<button id="codeCopyBtn">复制代码</button>').appendTo(target);
    }, function(e) {
      $('#codeCopyBtn').remove();
    });

    var clipboard = new Clipboard('#codeCopyBtn', {
      target: function() {
        return $('#codeCopyBtn').parent().find('pre')[0];
      }
    });
    clipboard.on('success', function(e) {
      e.clearSelection();

      $('#codeCopyBtn').text('复制成功!');
      setTimeout(function() {
        $('#codeCopyBtn').text('点击复制');
      }, 2000);
    });
    clipboard.on('error', function(e) {
      e.clearSelection();

      $('#codeCopyBtn').text('复制失败!');
      setTimeout(function() {
        $('#codeCopyBtn').text('点击复制');
      }, 2000);
    });
  }
});
</script>
{%- endblock %}
