{% extends "layout.html" %}

{%- set variations = resource.pages|getVariations(post.filepath) %}
{%- set classifys = resource.pages|getMyClassify(post.filepath) %}
{% block title %}{{post.meta.title}}{% endblock %}


{%- block content %}
  <div class="doc-content vis-chart">
    <div class="doc-inner vis-chart">
      <h1>{{post.title}}</h1>
      {{post.html}}

      {%- if variations %}
      <h2 id="变型">变型</h2>
      <div class="detail-list">
        <ul class="vis-chart-list clearfix">
          {%- for variation in variations  %}
          <li>
            <a href="{{content_url(''}}/{{variation.url}}">
              <i class="iconfont icon-{{variation.class}}"></i>
              <span>{{variation.title}}</span>
            </a>
          </li>
          {%- endfor %}
        </ul>
      </div>
      {%- endif %}

      {%- if classifys %}
      <h2 id="标签">标签</h2>
      <div>

        <ul class="vis-classify-list small clearfix">
          {%- for classify in classifys  %}
          <li>
            <a href="{{content_url(''}}/{{classify.url}}">
              <span>{{classify.title}}</span>
            </a>
          </li>
          {%- endfor %}
        </ul>

      </div>
      {%- endif %}
    </div>
  </div>
  <script type="text/javascript">
    $.fn.isOnScreen = function(){
      var win = $(window);
      var viewport = {
          top : win.scrollTop(),
          left : win.scrollLeft()
      };
      viewport.right = viewport.left + win.width();
      viewport.bottom = viewport.top + win.height();
      var bounds = this.offset();
      bounds.right = bounds.left + this.outerWidth();
      bounds.bottom = bounds.top + this.outerHeight();
      return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
    };
    function ReplaceAll(str, sptr, sptr1){
      while (str.indexOf(sptr) >= 0){
         str = str.replace(sptr, sptr1);
      }
      return str;
    }
    function lazyLoad(codes) {
      var isrun = [];
      tryRun();
      $(document).on('mousewheel',function(e){
        tryRun();
      });
      function tryRun(){
        codes.each(function(index,ele){
          if (isrun.indexOf(ele) === -1) {
            var $ele = $(ele);
            if ( $ele.isOnScreen() ) {
              setTimeout(function(){
                var t = $ele.html();
                t = ReplaceAll(t, '&lt;', '<');
                t = ReplaceAll(t, '&gt;', '>');
                t = ReplaceAll(t, '&amp;', '&');
                eval(t);
                $ele.hide();
              },500);
              isrun.push(ele);
            };
          };
        });
      }
    }
    var codes = $('.code');
    lazyLoad(codes);
  </script>
{%- endblock %}
