{%- set types = resource.pages|getDemoTypes(post.filepath) %}
{%- set icons = resource.pages|getDemoIcons(post.filepath) %}

  <!-- demo 页面头部导航栏 -->
  <div class="demo-head">
    <div class="header clearfix">
      <a class="header-back" href="/{{post.meta.chanel}}/doc">
        <i class="iconfont icon-cross"></i>
      </a>
      <div class="header-crumb">
        <span class="chanel">{{post.meta.chanel|capitalizeFirstLetter}}</span> 图表示例
      </div>
    </div>
  </div>

  <!-- 左侧导航栏 -->
  <div class="doc-nav">
    {%- set curTitle = post.filepath|getTitle %}
    <ul class="doc-nav-list">
    {%- for type in types %}
      <li class="{%- if curTitle.title === menum.title %}active{%- endif %}">
        <i class="iconfont">{{icons[type]}}</i>
        <!-- <a href="#{{type}}" id="demo{{type}}" class="j_navItems">{{type}}</a> -->
        <a href="/{{post.meta.chanel}}/demo/index.html#{{type}}" id="demo{{type}}" class="j_navItems">{{type}}</a>

        {%- set pages = resource.pages|getDemoPages(post.filepath,type) %}
        <div class="hide">
        <ul class="demo-thumbnail-panel clearfix" id="J_demo{{type}}">
          {%- for page in pages %}
          <li>
            <a href="{{content_url('')}}/{{page.filepath.replace('.md','.html')}}">
              {%- if page.meta.imgType === 'gif' %}
                {%- set name = page.filepath.replace('demo/','').replace('.md','.gif') %}
              {%- else %}
                {%- set name = page.filepath.replace('demo/','').replace('.md','.png') %}
              {%- endif %}
              <img src="{{static_url('images')}}/{{name}}" width="156px" />
            </a>
          </li>
          {%- endfor %}
        </ul>
        </div>
      </li>
    {%- endfor %}
  </div>

  <div class="nav-mask fadeIn hide"></div>

  <script type="text/javascript">
  var clearTime;
  var navMask = $('div.nav-mask');
  $('a.j_navItems').click(function(e) {
    var target = $(e.target);
    target.parent().addClass('active').siblings().removeClass('active');
    navMask.addClass('hide');
  });

  $('a.j_navItems').mouseover(function(e) {
    clearTimeout(clearTime);
    var id = $(this).attr('id');
    var top = $(this).offset().top - $(this).height() / 2;
    navMask.removeClass('hide');
    navMask.html($('#J_' + id).prop("outerHTML"));
    navMask.css('top', top);
  }).mouseout(function() {
    clearTimeout(clearTime);

    clearTime = setTimeout(function() {
      if (!navMask.hasClass('hide')) {
        navMask.addClass('hide');
      }
    }, 250);
  });

  navMask.hover(function(e) {
    clearTimeout(clearTime);
    $(this).removeClass('hide');
    var thumbnailPanel = $(this).find('ul.demo-thumbnail-panel')[0];
    var id = thumbnailPanel.id;
    $('#' + id.substring(2)).parent().addClass('hover');
  }, function(e) {
    clearTimeout(clearTime);
    $(this).addClass('hide');
    var thumbnailPanel = $(this).find('ul.demo-thumbnail-panel')[0];
    var id = thumbnailPanel.id;
    $('#' + id.substring(2)).parent().removeClass('hover');
  });
  </script>
