{% extends "layout.html" %}

{% block title %}{{post.meta.chanel|capitalizeFirstLetter}} - {{post.meta.title}}{% endblock %}

{%- block content %}
{%- set type = post.meta.type %}
{%- set chanel = post.filepath|getChanel %}

<div class="body-content demo-detail">
  {%- include "demo-nav.html" %}
  <div id="widthHandler" class="handler"></div>

  <div class="doc-content demo-detail-doc">
    <div class="doc-inner">
      <div class="code-banner">
        <div class="tab-label actived">源码</div>
        {%- if chanel == 'g2' %}
        <div class="tab-label" id="J_G2React">g2-react</div>
        {%- endif %}
        <div class="code-operation">
          <button class="button" id="J_runCode">运行</button>
          <button class="button" id="J_copyCode">复制</button>
          <span id="J_copyStatus" style="display: none; color: #43CBC6; position: absolute; top: 35px; right: 10px; z-index: 20;"></span>
        </div>
      </div>
      <div class="code-panel">
        <div class="tab-content">
          <textarea id='code' name='code'>
   <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>{{post.title}}</title>
        {%- include "script.html" %}
      </head>
      <body>
        {%- if chanel == 'g2' %}
          <div id="c1"></div>
        {%- endif %}
        {%- if chanel == 'g2-mobile' %}
          <div style="width:416px;height:218px;margin:0 auto">
              <canvas id="c1" style="width:416px;height:218px;"></canvas>
          </div>
        {%- endif %}
        {%- if chanel == 'g6' %}
          <div id="c1"></div>
        {%- endif %}
        {{post.html|getScript}}
      </body>
    </html>
          </textarea>
        </div>
      </div>
      <div class="chart-panel">
        <p class="title">{{post.meta.title}}</p>
        <iframe id="preview" class="demo-chart "></iframe>

        {%- if post.meta.description %}
        <div class="demo-chart-intro">
          <p style="margin-top: 0;">
          {{post.meta.description}}
          {%- if post.meta.antVLink %}
            <a href="{{post.meta.antVLink}}" target="_blank">了解更多</a>
            {%- endif %}
          </p>
        </div>
        {%- endif %}
      </div>
    </div>
  </div>
</div>

<textarea class="hidden" id="reactCode">
  <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>{{post.title}}</title>
        {%- set chanel = post.filepath|getChanel %}
        <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
        <script src="https://a.alipayobjects.com/g/datavis/g2/2.3.13/g2.js"></script>
        <script src="https://unpkg.com/g2-react@1.2.0/dist/index.js"></script>
        <script src="https://cdn.bootcss.com/babel-core/5.8.38/browser.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      </head>
      <body>
        {%- if chanel == 'g2' %}
          <div id="c1"></div>
        {%- endif %}
        {{post.html|getScript('react')}}
      </body>
    </html>
</textarea>
<script src="{{static_url('codemirror-compressed.js')}}"></script>
<script src="{{static_url('clipboard.min.js')}}"></script>
<script src="{{static_url('demo-detail.js')}}"></script>
{%- endblock %}
