{% extends "layout.html" %}

{% block title %}{{post.meta.title}}{% endblock %}
{% block banner %}
  <link rel="stylesheet" href="{{static_url('prettify-min.css')}}">
{%- endblock %}

{%- block content %}
  <div class="body-content tutorial-body-content">
    {%- include "doc-nav.html" %}

    {%- include "script.html" %}
    <div class="doc-content clearfix">
      <div class="doc-inner">
        {{post.html}}
      </div>
      {%- include "pre-next.html" %}
    </div>
  </div>
  <script type="text/javascript" src="{{static_url('nav-menu.js')}}"></script>
  <script src="{{static_url('prettify-min.js')}}"></script>
  <script src="{{static_url('clipboard.min.js')}}"></script>
  <script type="text/javascript">
    var CLS_PRETTY = 'prettyprint linenums';
    BUI.use('bui/common',function(BUI){
      var preEls =  $('pre');
      BUI.each(preEls,function(el){
        var node = $(el), innerText;
        node.addClass(CLS_PRETTY);
        innerText = node.html();
        var a = /^(\s+)/.exec(innerText);
        var regex;
        if(a){
          regex = new RegExp('('+a[0]+')(\\s*)','ig');
          innerText = innerText.replace(regex,'$2');
        }
          node.html(innerText);
      });
      if(window.prettyPrint){
        prettyPrint();
      }
    });

    $('.highlight').hover(function(e) {
      var target = $(e.target);
      if (target.attr('class') === 'prettyprint linenums') {
        target = target.parent();
      }
      $('<button id="codeCopyBtn">复制代码</button>').appendTo(target);
    }, function(e) {
      $('#codeCopyBtn').remove();
    });

    var clipboard = new Clipboard('#codeCopyBtn', {
      target: function() {
        return $('#codeCopyBtn').parent().find('pre')[0];
      }
    });
    clipboard.on('success', function(e) {
      e.clearSelection();

      $('#codeCopyBtn').text('复制成功!');
      setTimeout(function() {
        $('#codeCopyBtn').text('点击复制');
      }, 2000);
    });
    clipboard.on('error', function(e) {
      e.clearSelection();

      $('#codeCopyBtn').text('复制失败!');
      setTimeout(function() {
        $('#codeCopyBtn').text('点击复制');
      }, 2000);
    });
  </script>
  {%- endblock %}
