<header {%- if post.filepath === 'README.md' %} class="index-page"{%- endif %} id="header">
  <div class="nav-wrapper {%- if post.filepath !== 'README.md' %} gradient-line{%- endif %}">
    <div class="nav-content clearfix">
      <div class="pull-left">
        <a href="/index.html" class="nav-logo">
          <img src="https://zos.alipayobjects.com/rmsportal/aGpKpuxoGfZqJobMPLvj.svg">
          <span class="logo-text">AntV</span>
        </a>
        <div class="search-box">
          <form action="/search.html">
            <i class="iconfont icon-search"></i>
            <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
          </form>
        </div>
      </div>
      <div class="nav pull-right">
        <ul id="J_nav" class="clearfix nav-list">
          <li id="g2" class="nav-item{%- if post.meta.chanel === 'g2' %} hover{%- endif %}">
            <a class="nav-item-link" href="/g2/doc/index.html">G2</a>
            <ul class="nav-sub-list fadeUp">
              <li class="nav-sub-item"><a href="/g2/doc/index.html">快速上手</a></li>
              <li class="nav-sub-item"><a href="/g2/doc/tutorial/start/index.html">使用教程</a></li>
              <li class="nav-sub-item"><a href="/g2/demo/index.html">图表示例</a></li>
              <li class="nav-sub-item"><a href="/g2/api/index.html">API</a></li>
              <li class="nav-sub-item"><a href="/g2/doc/history.html">更新日志</a></li>
            </ul>
          </li>
          <li id="g2-mobile" class="nav-item {%- if post.meta.chanel === 'g2-mobile' %} hover{%- endif %}">
            <a class="nav-item-link" href="/g2-mobile/doc/index.html">G2-mobile</a>
            <ul class="nav-sub-list fadeUp">
              <li class="nav-sub-item"><a href="/g2-mobile/doc/index.html">快速上手</a></li>
              <li class="nav-sub-item"><a href="/g2-mobile/doc/tutorial/shape.html">使用教程</a></li>
              <li class="nav-sub-item"><a href="/g2-mobile/demo/index.html">图表示例</a></li>
              <li class="nav-sub-item"><a href="/g2-mobile/api/index.html">API</a></li>
              <li class="nav-sub-item"><a href="/g2-mobile/doc/history.html">更新日志</a></li>
            </ul>
          </li>
          <li id="g6" class="nav-item {%- if post.meta.chanel === 'g6' %} hover{%- endif %}">
            <a class="nav-item-link" href="/g6/doc/index.html">G6</a>
            <ul class="nav-sub-list fadeUp">
              <li class="nav-sub-item"><a href="/g6/doc/index.html">快速上手</a></li>
              <li class="nav-sub-item"><a href="/g6/doc/tutorial/start/base.html">使用教程</a></li>
              <li class="nav-sub-item"><a href="/g6/demo/index.html">图表示例</a></li>
              <li class="nav-sub-item"><a href="/g6/api/index.html">API</a></li>
              <li class="nav-sub-item"><a href="/g6/doc/history.html">更新日志</a></li>
              <li class="nav-sub-item"><a href="/g6/tools/index.html" target="_blank">在线工具</a></li>
            </ul>
          </li>
          <li id="vis" class="nav-item {%- if post.meta.chanel === 'vis' %} hover{%- endif %} last">
            <a class="nav-item-link" href="/vis/doc/chart/index.html">可视化基础</a>
            <ul class="nav-sub-list fadeUp">
              <li class="nav-sub-item"><a href="/vis/doc/chart/classify/compare.html">图表用法</a></li>
              <li class="nav-sub-item"><a href="/vis/doc/design/index.html">图表设计指引</a></li>
              <li class="nav-sub-item"><a href="/vis/doc/reference.html">经典文献</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
