{% extends 'layout.html' %}
{% block content %}
  <style>
  body{
    overflow-x:hidden;
  }
  .warper{
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .first-page{
    height: 488px;
  }
  .first-page .content{
    width: 1100px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .backgroud-top-triangle{
    position: absolute;
    top: -72px;
    right: 40px;
    z-index: -1;
  }
  .backgroud-bottom-triangle{
    position: absolute;
    left: -700px;
    bottom: 0;
  }
  .slogan{
    position: absolute;
    top: 194px;
    right: 204px;
    z-index: 2;
    font-weight: 300;
  }
  .slogan h1{
    font-size: 40px;
    margin-bottom: 16px;
    font-weight: 300;
  }
  .slogan h3{
    font-size: 18px;
    font-weight: 300;
  }
  .backgroud-effect{
    position: absolute;
    top: 68px;
    left: -64px;
    z-index: -1;
  }
  .second-page{
    background: #fff;
    color: #666;
    padding-bottom: 100px;
  }
  .second-page .content{
    padding-top: 104px;
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    clear: both;
  }
  .features{
    padding-top: 88px !important;
  }
  .second-page .title{
    font-size: 24px;
    color: #505666;
  }
  .second-page .cell{
    width: 326px;
    padding: 0 40px;
    height: auto;
    margin-right: 40px;
    float: left;
    margin-top: 72px;
    text-align: left;
  }
  .second-page .sub-title{
    font-size: 16px;
    color: #404040;
    margin-bottom: 14px;
  }
  .features .cell img{
    height: 61px;
  }
  .cutting-line{
    color: #D8D8D8;
    font-weight: 300;
  }
  .product .cell div{
    float: left;
    margin-top: 6px;
    margin-left: 20px;
    width: auto;
  }
  .product .cell .sub-title{
    margin-bottom: 4px;
  }
  .product .cell img{
    float: left;
  }
  .features .cell img{
    margin-bottom: 30px;
  }
  .company .plates{
    margin-top: 64px;
  }
  .company .cell {
    margin: 20px;
    width: 150px;
    height: 80px;
  }
  .user-voice .cell{
    padding-top: 20px;
    margin-top: 30px;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .user-voice .cell .words{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 10px;
  }
  .user-voice .cell img {
    margin: 0 auto;
    margin-top: 30px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .user-voice .cell .sub-title{
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .user-voice .cell .describe{
    margin-top: 10px;
    color: #999999;
  }
  .user-voice .cell p {
    display: block;
  }
  .company .cell img {
    display: block;
    margin: 0 auto;
  }
  .product a{
    color: #505666;
  }
  .product a:hover{
    color: #6556E2;
  }
  .product a:hover .sub-title{
    color: #6556E2;
  }
  .nav-wrapper .nav .nav-sub-list{
    box-shadow: 0px 12px 10px 0 rgba(7, 7, 7, 0.8);
  }
  .icon-shangyinhao{
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.1);
  }
  .icon-icon-test1{
    font-size: 22px;
  }
  </style>

  <div id="canvasWrapper"></div>

  <div class="warper first-page">
    <div class="content">
      <div class="slogan">
        <h1>让数据栩栩如生</h1>
        <h3>蚂蚁数据可视化解决方案</h3>
      </div>
    </div>
  </div>

  <div class="warper second-page">
    <div class="content features">
      <div class="title">
        <span class="cutting-line">—</span> &nbsp;&nbsp;&nbsp;&nbsp;<span>特&nbsp;性</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="cutting-line">—</span>
      </div>
      <div class="plates">
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/HGGtOrrpDKUueUEDKWuI.svg"/>
          <p class="sub-title">专业</p>
          <p>提供底层绘图引擎、具备完备图形语法</p>
          <p>大量产品实践，拥有专业可视设计规范</p>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/PYMxvCybNWbuVNEXYDkc.svg"/>
          <p class="sub-title">简单</p>
          <p>从数据出发，仅需几行代码</p>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/WmKBhdfxGHxZwbPcUOOQ.svg"/>
          <p class="sub-title">无限可能</p>
          <p>任何想要的图表，都可以基于图形语法灵活绘制</p>
        </div>
      </div>
    </div>

    <div class="content product">
      <div class="title">
        <span class="cutting-line">—</span> &nbsp;&nbsp;&nbsp;&nbsp;<span>产&nbsp;品</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="cutting-line">—</span>
      </div>
      <div class="plates">
        <a href="/g2/doc/index.html">
          <div class="cell">
            <img src="https://zos.alipayobjects.com/rmsportal/jMrlJAgfbuQAoTcIFWYd.svg"/>
            <div>
              <p class="sub-title">G2</p>
              <p>专业易用的可视化类库</p>
            </div>
          </div>
        </a>
        <a href="/g2-mobile/doc/index.html">
          <div class="cell">
            <img src="https://zos.alipayobjects.com/rmsportal/gHXLZJjucsTXhdeHBIAk.svg"/>
            <div>
              <p class="sub-title">G2-mobile</p>
              <p>移动端高性能可视化类库</p>
            </div>
          </div>
        </a>
        <a href="/g6/doc/index.html">
          <div class="cell">
            <img src="https://zos.alipayobjects.com/rmsportal/HgOfeAwWgfBeixYixBXC.svg"/>
            <div>
              <p class="sub-title">G6</p>
              <p>关系图可视化类库</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="content company">
      <div class="title">
        <span class="cutting-line">—</span> &nbsp;&nbsp;&nbsp;&nbsp;<span>200<span class="iconfont icon-icon-test1"></span>&nbsp;家公司正在使用</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="cutting-line">—</span>
      </div>
      <div class="plates">
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/gZrRCRfQpxFTtZXgLBvP.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/WEAltnXNscsYWpLMdkvA.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/qckAOAEigeueaARHUjza.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/zpusNSBXpwwxMbDkdwTt.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/uhROqAyJFKcsPCVuVyna.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/kAkCKxxGgtrwVXnVjnIp.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/LTXFvZFULaAbVBfpWbAC.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/OLQeXQxeEZahxgEmkxOl.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/VcvqdRTpGHyfNxfdMqJr.png"/>
        </div>
        <div class="cell">
          <img src="https://zos.alipayobjects.com/rmsportal/exksqDLcXMKeuKWpwouZ.png"/>
        </div>
      </div>
    </div>
    <div class="content user-voice">
      <div class="title">
        <span class="cutting-line">—</span> &nbsp;&nbsp;&nbsp;&nbsp;<span>专家点评</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="cutting-line">—</span>
      </div>
      <div class="plates">
        <div class="cell">
          <p class="words"><span class="iconfont icon-shangyinhao"></span> 在多年可视化设计与开发的积累基础上，蚂蚁金服团队推出了 AntV 产品，</p>
          <p class="words">这是工业界在基础可视化语法与实践方面发出的最强声音，也是工业界与学术界一道推进可视化研发进展的最佳利器。</p>
          <img src="https://os.alipayobjects.com/rmsportal/CcFeLxXurbQmwrT.jpg"/>
          <p class="sub-title">陈为</p>
          <p class="describe">浙江大学计算机学院 CAD & CG 国家重点实验室教授</p>
          <p class="describe">可视化专家</p>
        </div>
        <div class="cell">
          <p class="words"><span class="iconfont icon-shangyinhao"></span> G2 是一个非常强大的可视化引擎，只要你想得出的图表，它都能画出来。</p>
          <img src="https://zos.alipayobjects.com/rmsportal/JBLjWOlbCFiAxQBqiQqD.png"/>
          <p class="sub-title">阮一峰</p>
          <p class="describe">前端专家，《ES6 标准入门》作者</p>
        </div>
        <div class="cell">
          <p class="words"><span class="iconfont icon-shangyinhao"></span> G2 是面粉，ECharts 是面条，皆微小但美好，因小食材怀大梦想，助力共筹东方巨龙崛起之盛宴，迎四海饕客。</p>
          <img src="https://zos.alipayobjects.com/rmsportal/wtkIALmYDSmOIiAalkdv.jpg"/>
          <p class="sub-title">林峰</p>
          <p class="describe">爱烹饪的数据可视化攻城狮</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <script>
    var win = $(window);
    var body = $('body');
    var header = $('#header');
    var firstPage = $('.first-page');
    var headerHeight = header.height();
    var winHeight = win.height();
    // firstPage.css('height', winHeight - headerHeight + 'px');
  </script> -->
  <script src="https://os.alipayobjects.com/rmsportal/UXqEUmQMNHbBPtwHvgqG.js"></script>

{% endblock %}

{% block footer %}
{%- include "footer.html" %}
{% endblock footer %}
