<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}AntV{% endblock %}</title>
  <meta name="keywords" content="G2, The Grammar of Graphics, 图形语法,图表绘制引擎,图表库,可视化,数据可视化,AntV,Data Visualization,visualization,visualisation, antd, ant, ant design, G6, 流程图, 关系图, 可视化规范, 地图, 河流图, 力导图, 网络图, UML图, 流图, 时序图, 图">
  <meta name="description" content="一套专业、简单、无限可能的可视化解决方案">
  <link rel="icon" href="https://zos.alipayobjects.com/rmsportal/oNtwPuEICFyCWUHztcOA.png" type="image/x-icon">
  <link rel="shortcut icon" href="https://zos.alipayobjects.com/rmsportal/oNtwPuEICFyCWUHztcOA.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{static_url('style.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{static_url('codemirror.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{static_url('tipuesearch/tipuesearch.css')}}" >
  <script src="{{static_url('jquery.js')}}"></script>
  <script src="{{static_url('tipuesearch/tipuesearch_set.js')}}"></script>
  <script src="{{static_url('tipuesearch/tipuesearch.js')}}"></script>
  <script src="https://g.alicdn.com/bui/??seajs/2.3.0/sea.js"></script>
  <script src="https://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
  <script src="{{static_url('script.js')}}"></script>
  
  {%- set chanel = post.meta.chanel %}
  {%- include "shared-script.html" %}
</head>

{%- if post.filepath === 'README.md' %}
<body class="index-page">
{%- endif %}

{%- if post.meta.template === 'demo-detail' %}
<body class="demo-detail-page">
{%- endif %}

{%- if post.meta.template !== 'demo-detail' and post.filepath !== 'README.md' %}
<body>
{%- endif %}

  {%- if post.meta.template !== 'g6-tool' and post.meta.template !== 'demo' and post.meta.template !== 'demo-detail' and post.meta.template !== 'tree-layout' %}
    {%- include "header.html" %}
  {% endif %}

  {% block banner %}{% endblock %}

  <div class="main-container clearfix">
    {% block content %}
    <p>missing content</p>
    {% endblock %}
  </div>

  {%- if post.meta.template === 'api'%}
    {%- include "to-top.html" %}
  {% endif %}

  {% block footer %}{% endblock footer %}
  <div style="display:none;">
<script src="https://s11.cnzz.com/z_stat.php?id=1259109662&web_id=1259109662" language="JavaScript"></script>
<script src="https://a.alipayobjects.com/g/component/tracert/1.0.0/index.js"></script>
</div>
</body>
</html>
