{%- set titles = resource.pages|getSubDocTitles(post.filepath,post.meta.display) %}
{%- set result = curTitle.index|getNeighbors(titles) %}
<div class="preNext clearfix">
  {%- if result.pre %}
  <a href="{{content_url('')}}/{{result.pre.url}}.html" class="pull-left">
    <i class="iconfont icon-left"></i>
    {{result.pre.title}}
  </a>
  {%- endif %}

  {%- if result.next %}
  <a href="{{content_url('')}}/{{result.next.url}}.html" class="pull-right">
    {{result.next.title}}
    <i class="iconfont icon-right"></i>
  </a>
  {%- endif %}
</div>

