.banner {
  .header {
    height: 296px;
    position: relative;
    .extraTabs {
      position: absolute;
      bottom: -16px;
      right: 60px;
      z-index: 999;
      a {
        font-size: 18px;
        margin-right: 60px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        &:hover {
          color: rgba(255, 255, 255, 1);
          transition: 0.2s;
        }
      }
    }
  }

  .top {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .backgound {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 296px;
    background-size: cover;
    background-image: url('https://gw.alipayobjects.com/mdn/rms_a8a5bf/afts/img/A*EVoPQrwtL7AAAAAAAAAAAAAAARQnAQ');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    left: 0;
    top: 0;
  }

  .mainTitle {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-top: 112px;
  }

  .subTitle {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
  }

  .content {
    height: calc(100vh - 396px);
    min-height: 480px;
    position: relative;
  }

  .productList {
    position: absolute;
    top: -40px;
    height: 40px;
    z-index: 12;
    left: 60px;
    display: flex;
    overflow: hidden;
    width: 880px;
  }

  .productItem {
    font-size: 18px;
    margin-right: 64px;
    color: fade(#fff, 65%);
    cursor: pointer;
    position: relative;

    &:hover {
      color: #fff;
      transition: 0.2s;
    }
  }

  .productItemActive {
    color: #fff;
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      background-color: #fff;
      bottom: 0px;
      left: 0px;
      animation: slideIn 0.5s;
      -webkit-animation: slideIn 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .introduce {
    height: 100%;
  }

  .introduceDetail {
    display: flex;
    height: 100%;
  }

  .guide {
    width: 360px;
    background: #6d5bf9;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 40px;
    color: #fff;
    text-align: justify;

    .name {
      font-size: 28px;
    }
    .info {
      font-size: 14px;
      margin-top: 8px;
      line-height: 1.6;
      font-weight: 300;
      opacity: 0.85;
    }
    .guideItem {
      margin-bottom: 32px;
      .name {
        font-size: 28px;
      }
      .info {
        font-size: 14px;
        margin-top: 8px;
        line-height: 1.6;
        font-weight: 300;
        opacity: 0.85;
      }
    }

    .urlList {
      align-items: center;
      margin-top: 10px;
      a {
        display: flex;
        align-items: center;
        margin-top: 8px;
        color: #fff;
        .home {
          background-image: url(https://gw.alipayobjects.com/zos/bmw-prod/c193977b-776f-4e3a-9b93-7dd8ebadec5f.svg);
        }
        .example {
          background-image: url(https://gw.alipayobjects.com/zos/bmw-prod/e6caad33-6d2a-4f86-ace4-9c6cc8452894.svg);
        }
        .api {
          background-image: url(https://gw.alipayobjects.com/zos/bmw-prod/036568c0-3f42-4172-8220-f54ffe92fb37.svg);
        }
        .home,
        .example,
        .api {
          width: 16px;
          height: 15px;
          background-size: 16px 15px;
          background-repeat: no-repeat;
          cursor: pointer;
        }

        .text {
          line-height: 1.5;
          height: 20px;
          margin-left: 8px;
        }
        &:hover {
          color: #fed361;
          transition: 0.2s;
          .home {
            background-image: url(https://gw.alipayobjects.com/zos/bmw-prod/cbae6ccf-9930-45a8-91de-5b885ff0cc7b.svg);
          }
          .example {
            background-image: url(https://gw.alipayobjects.com/zos/bmw-prod/46ed9ca6-5cbf-4693-a02c-10c698d23ec5.svg);
          }
          .api {
            background-image: url(https://gw.alipayobjects.com/zos/bmw-prod/c590a4f8-3846-4c10-a523-d9be14eae14d.svg);
          }
        }
      }
    }
  }

  .productShow {
    flex: 1;
    min-height: 480px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    overflow: hidden;
    .bgCover {
      position: absolute;
      top: 0px;
      right: 0px;
      background-image: url(https://gw.alipayobjects.com/mdn/rms_a8a5bf/afts/img/A*gjLkSJCATtAAAAAAAAAAAAAAARQnAQ);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      display: block;
      width: calc(100vw - 360px);
      height: 100%;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #0000006b;
        z-index: -3;
      }
    }
    .aboutLink {
      width: 100%;
      height: 309px;
      padding: 0 50px;
      a,
      span {
        display: block;
        color: #fff;
        text-align: center;
        line-height: 66px;
        height: 66px;
        border-radius: 4px;
        padding: 0 2px;
        overflow: hidden;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
      .antdChart {
        background: rgba(91, 143, 249, 0.4);
        border: rgb(91, 143, 249) 1px solid;
      }
      .G2 {
        background: rgba(90, 216, 166, 0.4);
        border: rgb(90, 216, 166) 1px solid;
      }
      .F2 {
        background: rgba(38, 154, 153, 0.4);
        border: rgb(38, 154, 153) 1px solid;
      }
      .G6 {
        background: rgba(246, 189, 22, 0.4);
        border: rgb(246, 189, 22) 1px solid;
      }
      .L7 {
        background: rgba(232, 104, 74, 0.4);
        border: rgb(232, 104, 74) 1px solid;
      }
      .conventional {
        background: rgba(90, 216, 166, 0.2);
        border: rgba(90, 216, 166, 0.4) 1px solid;
      }
      .relationship {
        background: rgba(246, 189, 22, 0.2);
        border: rgba(246, 189, 22, 0.4) 1px solid;
      }
      .geography {
        background: rgba(232, 104, 74, 0.2);
        border: rgba(232, 104, 74, 0.4) 1px solid;
      }
      .ava {
        height: 228px;
        background: rgba(38, 154, 153, 0.4);
        border: rgb(38, 154, 153) 1px solid;
        line-height: 228px;
      }
    }
    .banner {
      z-index: 9;
      width: calc(100vw - 498px);
      height: auto;
    }
  }

  .news {
    margin-top: 40px;
  }
  .newsTitle {
    font-size: 20px;
  }
  .time {
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: -6px;
    opacity: 0.65;
  }
  .promo {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 260px;
    text-overflow: ellipsis;
  }

  .bgVideo {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 100%;
    z-index: -999;
  }
}

@keyframes slideIn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media only screen and (max-width: 1069px) {
  .extraTabs {
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
  }
}
