.resources-page-container {
  background-color: rgb(250, 251, 253);
  height: 1450px;
  .resources-page-title {
    padding-top: 120px;
    color: #000;
  }
  .resources-small-slicer {
    margin-top: 18%;
    background-color: rgb(96, 128, 240);
  }
  .resources-card-container {
    display: flex;
    position: relative;
    width: -webkit-fill-available;
    text-align: center;
  }
}
