@import '~antd/lib/style/themes/default.less';
.wrapper {
  background: rgb(250, 251, 253);
  height: auto;
  display: flex;
  margin: auto;
  position: relative;
  flex-direction: column;
  padding: 0;
  .content {
    width: 83.9%;
    padding-bottom: 50px;
    height: 100%;
    margin-left: 8.05%;
    margin-bottom: 5%;
    position: relative;
    .title {
      font-size: 2.714em;
      font-weight: 500;
      margin: 100px 0 0 0;
      position: relative;
      height: min-content;
      color: #000;
    }
    .slicer {
      width: 32px;
      height: 6px;
      margin-top: 36px;
      background-color: #597ef7;
    }
    .rows {
      position: relative;
      width: 100%;
      text-align: center;
      flex-wrap: wrap;
      margin-top: 57px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .content {
      margin-left: 4.27%;
      margin-bottom: 23.47%;
      width: 91.47%;
      .title {
        font-size: 2.143rem;
        margin: 80px 0 44px 0;
      }
      .slicer {
        display: none;
      }
      .rows {
        .cardWrapper {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}
