.header {
  height: 64px;
  line-height: 64px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: relative;
  z-index: 1;

  .left {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;

      img {
        display: block;
      }
    }

    .divider {
      width: 1px;
      height: 24px;
      background-color: #ccc;
      display: inline-block;
      margin: 0 24px;
    }
  }

  .nav {
    display: flex;
    align-items: center;

    .menu {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.65);
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 32px;
        line-height: 60px;

        a {
          color: rgba(0, 0, 0, 0.65);
          transition: all 0.3s;
          display: block;
          border-top: 2px solid transparent;

          &:hover {
            color: #1890ff;
          }
        }
      }

      .active {
        border-top: 2px solid #1890ff;
      }
    }
  }
}

.products {
  width: 600px;
  padding: 0 12px;
  max-width: calc(100vw - 30px);

  h3 {
    font-size: 16px;
    margin: 8px 0 24px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .product {
    overflow: hidden;
    width: calc(50% - 16px);
    display: inline-block;
    margin-bottom: 16px;

    img {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      margin-right: 8px;
      float: left;
      display: block;
    }

    .productContent {
      overflow: hidden;

      h4 {
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.85);
        a {
          color: rgba(0, 0, 0, 0.85);
        }
      }

      .productDescription {
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.45);
      }

      .productLinks {
        > a {
          margin-right: 8px;
          color: rgba(0, 0, 0, 0.65);
          transition: all 0.3s;

          &:hover {
            color: rgba(0, 0, 0, 0.85);
          }
        }
      }
    }
  }
}
