.header {
  height: 64px;
  line-height: 64px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  .left {
    display: flex;
    align-items: center;

    .divider {
      width: 1px;
      height: 24px;
      background-color: #ccc;
      display: inline-block;
      margin: 0 24px;
    }
  }

  .nav {
    display: flex;
    align-items: center;

    .menu {
      margin-right: 20px;
    }
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 32px;
  }
}
