.com{color:#93a1a1}
.lit{color:#04B5FF}
.pun,.opn,.clo{color:#93a1a1}
.fun{color:#dc322f}
.str,.atv{color:#F93D26}
.kwd,.linenums .tag{color:#2B940B}
.typ,.atn,.dec,.var{color:#8434E6}
.pln{color:#808080}
.prettyprint{padding: 10px 20px;background-color:#FBFBFB;}
ol.linenums{margin:0;padding-left:0;margin-bottom:0;}
ol.linenums li{color:#bebec5;line-height:24px;text-shadow:0 1px 0 #fff;list-style: none;}
