.subpage-container {
  display: flex;
  margin: auto;
  position: relative;
  flex-direction: column;
  padding: 0;
  // overflow: hidden;
  .subpage-title {
    font-size: 4.5rem;
    font-weight: 500;
    // margin: 2.5% 0 0 5.5%;
    margin: 150px 0 100px 0;
    position: relative;
    height: min-content;
  }
  .subpage-small-slicer {
    width: 60px;
    height: 13px;
    // margin: 2% 0 0 5.5%;
  }
  .subpage-content-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
    position: relative;
  }
}
