.products-page-container {
  height: 1600px;
  background: rgb(241, 245, 249);
  .product-page-title {
    color: #fff;
  }
  .background-lefttop {
    background: linear-gradient(135deg, rgb(157, 113, 247), rgb(116, 113, 246));
    width: 85%;
    height: 80%;
    left: -100px;
    top: 0;
    position: absolute;
  }
  .background-rightbottom {
    background: #fff;
    width: 98%;
    height: 85%;
    left: 7%;
    top: 14%;
    position: absolute;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
  }
}
