.advantage-card {
  background-color: #fff;
  //   width: auto;
  height: auto;
  .advantage-content-wrapper {
    .advantage-card-title {
      font-size: 3em;
      color: #000;
      padding-top: 40px;
    }
    .advantage-card-description {
      opacity: 0.6;
      width: 100%;
    }
  }
}
