.advantage-card {
  background-color: #fff;
  //   width: auto;
  height: auto;
  padding-top: 8%;
  padding-bottom: 8%;
  .advantage-content-wrapper {
    .advantage-card-title {
      font-size: 3rem;
      color: #000;
      padding-top: 40px;
    }
    .advantage-card-description {
      opacity: 0.6;
      width: 100%;
    }
  }
}

@media (max-width: 1144px) {
  .advantage-cards-container {
    .card-wrapper {
      width: 80%;
      margin-left: 10%;
    }
  }
}
